.container{
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
    color:#000;
    position: relative;
}
.icon{
    position: absolute;
    top: 145px;
    right: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s linear;
}
.iconActive{
    background-color: #ab039b;
}
.icon:hover{
    color:#ab039b;
}
.image{
    margin-bottom: 20px;
}

.title{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.btnWidn{
    width: 96px;
    height: 26px;
}