.priceWrapper{
    display: flex;
    align-items:center;
    margin-bottom: 15px;
    
}
.price{
   margin-right: 15px;
}

.priceNonActive{
    color: #787777;
    text-decoration: line-through;
    margin-right: 23px;
}

.sale{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 17px;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    border-left: none;
}


.sale::after{
    display: block;
    content: '';
    width: 1px;
    height: 12px;
    background-color: rgb(0, 0, 0);
    transform: rotate(50deg);
    position: absolute;
    top: -2.5px;
    left: -5px;
}

    


.sale::before{
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background-color: rgb(0, 0, 0);
    transform: rotate(-50deg);
    top: 5.5px;
    left: -5px;
}