.priceWrapper{
    display: flex;
    align-items:center;
    margin-bottom: 15px;
    
}
.price{
   margin-right: 15px;
}

.L{
    font-size: 23px;
    color: #3699f0
}

.priceNonActive{
    color: #787777;
    text-decoration: line-through;
    margin-right: 23px;
}

