.sale{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.L{
    width: 50px;
    height: 26px; 
    font-size: 15px;
}


.S{
    width: 35px;
    height: 17px;
    font-size: 11px;
}

.backGround{
    display: flex;
    justify-content: center;
    align-items:center;
    
    font-weight: 400;
    text-align: center;
    width: 96%;
    height: 95%;
    background-color: #fff;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

