.container{
    display: flex;
    align-items:center;
    gap: 20px;
}
.comments{
    text-decoration: underline;
    cursor: pointer;
    height: 20px;
}

.stars{
    display: flex;
    align-items:center;
    cursor: pointer;
    height: 20px;
    color: #6b6b6b
}

.active{
   color: #f9c73f;
}